Package: open_uboot
Version: 2010.06-1
Depends: libc
Provides: 
Source: package/feeds/ltq_feeds_uboot/open_uboot
Section: boot
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: lantiq
Installed-Size: 105
Description:  U-Boot for Lantiq SoC based platforms
